html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #aceccc;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: var(--letranormal);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #aceccc 0%, #4e8e70 50%, #00000089 100%);

}

section#iniciarSessao{
    width: 80%;   /* Largura fixa */
    max-width: 900px; /* Para ser responsivo em telas menores */
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: var(--cor6);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 9px 4px 12px 10px rgba(0, 0, 0, 0.234);
    position: relative;
    transition: transform 0.5s ease;
}

div.registro {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


div.dados{
    width: 45%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
    /* position: relative;  */
    z-index: 2;
    background: var(--cor6);
}



form.inserirDados{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 28px 0;
}

form.inserirDadosEspaco{
    padding: 0;
}

.inputContainer{
    width: 80%;
    max-width: 300px;
    height: 40px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    border: 2px solid var(--cor2);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.inputContainer input{
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 5px;
    border-radius: 15px;
    box-sizing: border-box;
}

.nomeUsuario , .senhaUsuario{
    position: relative;
}


span.erromensagem, span#msgnovousuarioErro{
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 50px;
}

input#usuario:invalid + .erromensagem, 
input#senha:invalid + .erromensagem,
input#novasenha:invalid + .erromensagem
input#novousuario:invalid + .erromensagem{
    display: block;
}

input#usuario:valid + .erromensagem, 
input#senha:valid + .erromensagem,
input#novasenha:valid + .erromensagem
input#novousuario:valid + .erromensagem{ display: none;}

input#usuario:focus, input#senha:focus{
    background-color: #17608760;
}

span.emojipessoa, 
span.emojichave,
span.emojiemail{
    padding: 0 8px;
    color: var(--cor2);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.senhaUsuario span.olho{
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: var(--cor2);
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

div.senhaUsuario span.olho:hover{
    color: var(--cor3);
}

button.btn{
    width: 100%;
    height: 40px;
    border: none;
    background: var(--cor2);
    color: var(--var6);
    cursor: pointer;
    transition: 0.3s;  
    border-radius: 20px;
}

button.btn :hover{
    background: var(--cor3);
}

p.txtfim{
    text-align: center;
    margin-top: 20px;
}


p.txtfim a{
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

p.txtfim a:hover{
    color: var(--cor2);
}

div.imagem1{
    width: 55%;
    height: 100%;
    background: url(../img/CapaLogin.webp) no-repeat center center;
    background-size: cover;
    transition: transform 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
    position: relative;
    z-index: 1;
}

div.fundoModal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.362);
    z-index: 999;
}

div#modal{
    display: none;
}

div.modal{
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    overflow: hidden;
    padding: 0;
    background-color: white;
    height: 169px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    animation: expandModal 0.4s ease-out forwards;
}

div.conteudo_modal{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    border: 7px solid rgba(255, 0, 0, 0.634);
    border-radius: 20px;
    box-sizing: border-box;
}

div.linhaModal{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

div.conteudo_modal span.emojiModal{
    color:  rgba(255, 0, 0, 0.634);
    font-size: 60px;
    margin-right: 15px;
    flex-shrink: 0;
}

div.conteudo_modal .textoModal{
    display: flex;
    flex-direction: column;
}

h4.tituloModal{
    margin: 0;
    text-align: left;
}

p.paragrafoModal{
    margin: 5px 0 0;
    text-align: left;
}

div.modal hr{
    border: 1px solid #eee;
    margin: 10px 0;
    clear: both;
}

div.modal button.erroModal{
    align-self: flex-end;
    margin-top: auto ;
    width: 80px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.634);
    border: none;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ;
}

div.modal button.erroModal:hover{
    background-color: rgba(255, 0, 0, 0.695);
}

.registroForm {
    min-height: 100%;
    overflow-y: auto;
}

div.loginForm{
    transform: translateX(0);
}

div.registroForm{
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
}

.modoRegistro div.loginForm{
    transform: translateX(-100%);

}

.modoRegistro div.registroForm{
    transform: translateX(0);
    opacity: 1;
}

.modoRegistro .imagem1{
    transform: translateX(-100%);
    filter:blur(2px);
}