body{
    overflow: hidden;
}

nav#barranav{
    display: flex;
    width: 100%;
}

a.logo {
    padding-left: 12px;
    width: 30%;

}

a.logo, div.icones ul {
    flex: 0 0 auto;    
}

div.icones {
    width: 50%;
    padding-left: 51px;
}

div.icones ul{
    margin-left: 0;
    padding-left: 0;
}

div.icones ul li {
    display: inline-block  ;
    padding: 0 3px;

}
div.icones ul li#carrinho {
    position: absolute;
    top: 653%;
    left: 84%;
    background-color: white;
    padding: 16px;
    border-radius: 74px;
}


ul#linkbarranav {
    margin: 0;
    display: none;
}

li a span#carrinho{
    display: block;
}

img#imageminicio {
    display: none;
}

div#apresentacao {
    width: 354px;
    height: 50vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
